<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Human-readable console for local/default profile -->
    <springProfile name="default | local">
        <property name="CONSOLE_LOG_PATTERN"
                  value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{traceId:-}] [%X{spanId:-}] [%X{correlationId:-}] [%X{tenantId:-}] %logger{36} - %msg%n"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Structured JSON for non-local profiles (dev, staging, prod) -->
    <springProfile name="!default &amp; !local">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
